
body {
  background-color: brown;
}

p{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 10%;
  background-color: white;
  text-align: center;
font-size: 50px;
}
