<div class="clearfix">
  <article  class="profil box" *ngIf="this.getDroit('user')==='2'">
    <img src="{{this.getImg('user')}}"alt="Photo">
    <h3> {{this.getNom('user')}}  {{this.getPrenom('user')}} {{this.getAge('user')}} ans</h3>
    <h3>Diplomé en {{this.getDiplome('user')}}</h3>
    <h3>Génie : {{this.getGenie('user')}} Option : {{this.getOption('user')}}</h3>
    <h3>Actuellement {{this.getPoste('user')}} chez {{this.getEntreprise('user')}} à {{this.getLieux('user')}}</h3>
    <h3>Salaire : {{this.getSalaire('user')}}€</h3>
    <button  (click)="annonimiser('user')">Annonimiser</button>
  </article>
    <article  class="profil box" *ngIf="this.getDroit('user')==='1' && this.getNom('etudiant')!==''">
    <img src="{{this.getImg('etudiant')}}"alt="Photo">
    <h3> {{this.getNom('etudiant')}}  {{this.getPrenom('etudiant')}} {{this.getAge('etudiant')}} ans</h3>
    <h3>Diplomé en {{this.getDiplome('etudiant')}}</h3>
    <h3>Génie : {{this.getGenie('etudiant')}} Option : {{this.getOption('etudiant')}}</h3>
    <h3>Actuellement {{this.getPoste('etudiant')}} chez {{this.getEntreprise('etudiant')}} à {{this.getLieux('etudiant')}}</h3>
    <h3>Salaire : {{this.getSalaire('etudiant')}}€</h3>
  </article>

  <article *ngIf="this.getNom('etudiant')===''&& this.getDroit('user')==='1'">
    <h1 style="margin: center">Selectionnez un etudiant dans la page Accueil</h1>
  </article>


  <article  class="formulaire box" *ngIf="this.getDroit('user')==='2'">
  <form  (submit)="modification('user')">
    <p style="background-color: darkred; color: white; font-size: x-large;">Si vous ne voulez pas que l'on utilise vos données merci de les supprimer</p>
    <label for="prenom">Prenom</label>
    <input id ="prenom" type="text" value="{{this.getPrenom('user')}}" >
    <br>
    <label for="nom">Nom</label>
    <input id ="nom" type="text" value="{{this.getNom('user')}}">
    <br>
    <label for="age">Age</label>
    <input id ="age" type="text" value="{{this.getAge('user')}}">
    <br>
    <label for="diplome">Année du diplome</label>
    <input id ="diplome" type="text" value="{{this.getDiplome('user')}}">
    <br>
    <label for="genie">Génie</label>
    <input id ="genie" type="text" value="{{this.getGenie('user')}}">
    <br>
    <label for="option">Option</label>
    <input id ="option" type="text" value="{{this.getOption('user')}}">
    <br>
    <label for="poste">Poste</label>
    <input id ="poste" type="text" value="{{this.getPoste('user')}}">
    <br>
    <label for="entreprise">Entreprise</label>
    <input id ="entreprise" type="text" value="{{this.getEntreprise('user')}}">
    <br>
    <label for="lieux">Lieux</label>
    <input id ="lieux" type="text" value="{{this.getLieux('user')}}">
    <br>
    <label for="salaire">Salaire</label>
    <input id ="salaire" type="text" value="{{this.getSalaire('user')}}">
    <br>
    <label for="img">Photo</label>
    <input id ="img" type="text" value="{{this.getImg('user')}}">
    <br>
    <input name="Modifier" type="submit" value="Modifier">
    <input name="Réinitialiser" type="reset">
  </form>
  </article>

  <article  class="formulaire box" *ngIf="this.getDroit('user')==='1' && this.getNom('etudiant')!==''">
    <form  (submit)="modification('etudiant')">
      <label for="prenom">Prenom</label>
      <input id ="prenom" type="text" value="{{this.getPrenom('etudiant')}}">
      <br>
      <label for="nom">Nom</label>
      <input id ="nom" type="text" value="{{this.getNom('etudiant')}}">
      <br>
      <label for="age">Age</label>
      <input id ="age" type="text" value="{{this.getAge('etudiant')}}">
      <br>
      <label for="diplome">Année du diplome</label>
      <input id ="diplome" type="text" value="{{this.getDiplome('etudiant')}}">
      <br>
      <label for="genie">Génie</label>
      <input id ="genie" type="text" value="{{this.getGenie('etudiant')}}">
      <br>
      <label for="option">Option</label>
      <input id ="option" type="text" value="{{this.getOption('etudiant')}}">
      <br>
      <label for="poste">Poste</label>
      <input id ="poste" type="text" value="{{this.getPoste('etudiant')}}">
      <br>
      <label for="entreprise">Entreprise</label>
      <input id ="entreprise" type="text" value="{{this.getEntreprise('etudiant')}}">
      <br>
      <label for="lieux">Lieux</label>
      <input id ="lieux" type="text" value="{{this.getLieux('etudiant')}}">
      <br>
      <label for="salaire">Salaire</label>
      <input id ="salaire" type="text" value="{{this.getSalaire('etudiant')}}">
      <br>
      <label for="img">Photo</label>
      <input id ="img" type="text" value="{{this.getImg('etudiant')}}">
      <br>
      <input name="Modifier" type="submit" value="Modifier">
      <button name="Supprimer" (click)="supprimer()"  > Supprimer</button>
    </form>
  </article>
</div>
