img{
  width: 40%;
  height: 80%;
  margin-right: 2px;
  float : right;
}

h3 {
  margin-left: 2%;
  width: 70%;
}



.profil {
  width: 40%;
  margin-top: auto;
  margin-left: 1%;
}

.formulaire {
  width: 40%;
  margin-right: 1%;
  float: right;
  flex-flow: row wrap;
}
.box {
  float: left;
  width: 40%;
  padding: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
input:focus {
  border: 3px solid #555;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], input[type="reset"], button {
  width: 100%;
  background-color: lightskyblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] :hover {
  background-color: greenyellow;
}

input[type="reset"] :hover {
  background-color: greenyellow;
}


input.ng-pristine{
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  text-align: center;
}

input.ng_untouched{
  border: 2px solid brown;
  background-color: brown;
  color: white;
  text-align: center;

}
input.ng-valid{
  border: 2px solid lightseagreen;
  background-color: lightseagreen;
  border-radius: 15px;
  color: white;
  text-align: center;
}
/*
.ng-dirty{
  border: 2px solid orange;
}
*/
input.ng-invalid{
  border: 2px solid red;
  background-color: red;
  border-radius: 15px;
  color: white;
  text-align: center;
}

label{
  text-align: center;
  font-weight: bold;

}
