<div class="clearfix">
  <article  class="profil box" *ngIf="this.getDroit('user')==='2'">
    <img src="{{this.getImg('user')}}"alt="Photo">
    <h3> {{this.getNom('user')}}  {{this.getPrenom('user')}} {{this.getAge('user')}} ans</h3>
    <h3>Diplomé en {{this.getDiplome('user')}}</h3>
    <h3>Génie : {{this.getGenie('user')}} Option : {{this.getOption('user')}}</h3>
    <h3>Actuellement {{this.getPoste('user')}} chez {{this.getEntreprise('user')}} à {{this.getLieux('user')}}</h3>
    <h3>Salaire : {{this.getSalaire('user')}}€</h3>
    <button  (click)="annonimiser('user')">Annonimiser</button>
  </article>
    <article  class="profil box" *ngIf="this.getDroit('user')==='1' && this.getNom('etudiant')!==''">
    <img src="{{this.getImg('etudiant')}}"alt="Photo">
    <h3> {{this.getNom('etudiant')}}  {{this.getPrenom('etudiant')}} {{this.getAge('etudiant')}} ans</h3>
    <h3>Diplomé en {{this.getDiplome('etudiant')}}</h3>
    <h3>Génie : {{this.getGenie('etudiant')}} Option : {{this.getOption('etudiant')}}</h3>
    <h3>Actuellement {{this.getPoste('etudiant')}} chez {{this.getEntreprise('etudiant')}} à {{this.getLieux('etudiant')}}</h3>
    <h3>Salaire : {{this.getSalaire('etudiant')}}€</h3>
  </article>

  <article *ngIf="this.getNom('etudiant')===''&& this.getDroit('user')==='1'">
    <h1 style="margin: auto">Selectionnez un etudiant dans la page Accueil</h1>
  </article>


  <article  class="formulaire box" >
  <form  (submit)="modification('user')" *ngIf="etud.nom !== ''">
    <p style="background-color: darkred; color: white; font-size: x-large;" *ngIf="this.getDroit('user') === '2'">Si vous ne voulez pas que l'on utilise vos données merci de les supprimer</p>
    <label for="prenom">Prenom</label>
    <input id ="prenom" name ="prenom" type="text"  [(ngModel)]="etud.prenom" >
    <br>
    <label for="nom">Nom</label>
    <input id ="nom" name="nom" type="text"  [(ngModel)]="etud.nom" #nom="ngModel">
    <br>
    <label for="age">Age</label>
    <input id ="age" name="age" type="text"  [(ngModel)]="etud.age" #age="ngModel">
    <br>
    <label for="diplome">Année du diplome</label>
    <input id ="diplome" name="diplome" type="text"  [(ngModel)]="etud.annee_diplome" #annee_diplome="ngModel">
    <br>
    <label for="genie">Génie</label>
    <input id ="genie" name="genie" type="text" [(ngModel)]="etud.genie" #genie="ngModel">
    <br>
    <label for="option">Option</label>
    <input id ="option" name="option" type="text"  [(ngModel)]="etud.option" #option="ngModel">
    <br>
    <label for="poste">Poste</label>
    <input id ="poste" name="poste" type="text" [(ngModel)]="etud.poste" #poste="ngModel">
    <br>
    <label for="entreprise">Entreprise</label>
    <input id ="entreprise" name="entreprise" type="text" [(ngModel)]="etud.entreprise" #entreprise="ngModel">
    <br>
    <label for="lieux">Lieux</label>
    <input id ="lieux" name="lieux" type="text" [(ngModel)]="etud.lieux" #ieux="ngModel">
    <br>
    <label for="salaire">Salaire</label>
    <input id ="salaire" name ="salaire" type="text"  [(ngModel)]="etud.salaire" #salaire="ngModel">
    <br>
    <label for="img">Photo</label>
    <input id ="img" name="img" type="text"  [(ngModel)]="etud.img" #img="ngModel">
    <br>
    <input name="Modifier" type="submit" value="Modifier">
    <input name="Réinitialiser" type="reset">
    <button name="Supprimer" (click)="supprimer()" *ngIf="this.getDroit('user') === '1' " > Supprimer</button>
  </form>
  </article>


</div>
