<section>
<article>
  Dans le cadre du RGPD nous vous informons que les données liées à votre profil seront traitées et accessibles par le développeur de cette application (Alexandre Tournier) et le professeur responsable du projet (M. angular).<br>
  Vous pouvez modifier la visibilité de vos informations en accédant à votre profil depuis la plateforme.<br>
  Les données que nous recceuillons on pour but d'établir différentes statistiques (moyenne des salaires, poste majoritairement occupé, lieux de travail à l'étranger ou non...).
  En ayant un profil sur la plateforme vous acceptez l'utilisation de ces données qu'elles soit annonimisées ou non.<br>
  Si vous rencontrez des problèmes liés à vos données ou à leur utilisation vous pouvez contacter Alexandre Tournier à l'adresse mail suivante : tournierl@eisti.eu<br>
  Merci
</article>
</section>
